body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e74c3c;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#taskForm {
    display: flex;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 10px;
}

button {
    background-color: #008000;
    color: black;
    padding: 10px;
    border: white;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

li button {
    background-color: #e74c3c;
    color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

